.main_content {
  border-top: 0.1em solid #ddd;
  margin-top: 2rem;
}

.empty {
  height: 160px;
  width: 100%;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0;
    max-width: 100% !important;
  }
}
