.footer {
  text-align: center;
  height: 50px;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 4px;

  p {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 26px;
  }
  .nothing {
    text-align: start;
  }
  .forever {
    text-align: end;
  }
}
