.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // margin: 0 0 0 262px;
  height: 50px;
  background-color: black;
  bottom: 0;
  position: absolute;

  h2 {
    color: white;
  }
}
