.nav_meta {
  position: fixed;
}

.inner {
  height: 190px;
}

.nav_meta .MobileNavigation {
  display: none;
}

.logo {
  padding-bottom: 1rem;
  padding-top: 1rem;
  img {
    width: 85px;
  }
  img:hover {
    opacity: 0.5;
  }
}

.menu ul {
  padding-left: 0;
  list-style: none;

  li {
    margin-top: 8px;
    margin-bottom: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav_meta {
    max-width: 100% !important;
    background-color: white;
  }
  .nav_meta .Navigation {
    display: none;
  }

  .nav_meta .MobileNavigation {
    display: flex;
    align-items: center;
  }

  .nav_meta .MobileNavigation .hamburger {
    position: absolute;
    right: 7%;
    top: 20%;
    cursor: pointer;
  }
  .nav_meta nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
    margin-top: 1.5rem;
    margin-right: 12px;

    li {
      margin-left: 6px;
      margin-right: 6px;
    }
  }
}
